body {
  background-color: #ffffff;
  margin: 0px;
}
main {
  margin: 0;
  max-width: 900px;
}
h1 {
  text-align: center;
  color: #2d4654;
  font-family: "Montserrat", "Times New Roman";
}
h2 {
  color: #2d4654;
  font-family: "Montserrat", "Times New Roman";
}
p {
  color: #2d4654;
  font-family: "Inter", "Times New Roman";
}
.navbar ul {
  list-style: none;
  background-color: #2d4654;
  font-family: "Inter", "Times New Roman";
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar a {
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover {
  background-color: #000000;
}
.navbar li {
  float: left;
}
.contactbar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.contactbar ul {
  list-style: none;
  background-color: #2d4654;
  font-family: "Inter", "Times New Roman";
  padding: 0px;
  margin: 0px;

  overflow: hidden;
}
.contactbar a {
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.contactbar a:hover {
  background-color: #000000;
}
.contactbar li {
  float: left;
}
