<header>
  <h1>Trevor Bercher's Tenacious Bear | ITIS 3135</h1>
  <nav>
    <ul>
      <li><a href="../index.html">Home Page</a></li>
      <li><a href="contract.html">Contract Page</a></li>
      <li><a href="website_evaluations.html">Website Evaluation</a></li>
    </ul>
    <ul>
      <li><a href="stuff/mYsTuFf__.htm">Crappy Website</a></li>
      <li><a href="/itis3135/instructions.html">Instructions</a></li>
      <li><a href="/itis3135/documentation.html">Documentation</a></li>
      <li><a href="/itis3135/survey.html">Survey</a></li>
      <li><a href="/itis3135/cards.html">Cards</a></li>
      <li><a href="/itis3135/gallery.html">Gallery</a></li>
      <li><a href="/itis3135/inventory.html">Inventory</a></li>
      <li><a href="/itis3135/highlight.html">Highlight</a></li>
    </ul>
  </nav>
</header>
